<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <title>Welcome to Remind Me API</title>
</head>
<body>
    <h1>Welcome to the Remind Me API.</h1>
    <div>
        <div class="box">
            <img class="resize" src="https://images.unsplash.com/photo-1523289333742-be1143f6b766?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" alt="productivity">
            <span>
                This page serves as a placeholder for the actual API. <br>
                The API is primarily a POST api, meaning that you submit jobs <br>
                via text message, and we get them and schedule them for you. <br><br>
                To visit the Remind Me website, please go to <a href="#">Remind Me</a> here.
            </span>
        </div>
        <div class="format">
            <span>My new div goes here</span>
        </div>
    </div>
</body>
</html>